<md-toolbar class="bg-dark-blue nav-dark" layout="row" ng-if="isLoggedin">
    <div class="md-toolbar-tools ">

        <md-button ng-click="toggleLeft()" ng-controller="dashboard" aria-label="menu" class="md-primary md-hue-3" hide-gt-sm>
            <ng-md-icon icon="menu" size="48"></ng-md-icon>
        </md-button>

        <md-button class="md-primary md-hue-3" aria-label="home" ng-click="getTemplate('/default')">
            <ng-md-icon icon="home" size="48" style="fill:white"></ng-md-icon>
        </md-button>


        <div class="text-center" flex>
            <h2>
                <span>{{ title }}</span>
            </h2>
        </div>

        <md-menu-bar>
            <md-menu>
                <md-button class="md-primary md-hue-3" aria-label="Profile" ng-click="$mdOpenMenu()">
                    <ng-md-icon icon="account_circle" size="48" ></ng-md-icon>
                </md-button>
                <md-menu-content class="md-dense" width="4">
                    <md-menu-item>
                        <md-button ng-click="settings()">
                            Settings
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="logout()">
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </md-menu-bar>
    </div>

</md-toolbar>

<div layout="row" flex style="min-height: 90%">
        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" md-disable-backdrop layout="column" class="md-whiteframe-z2">
            <!--<div class="profile_pic_container">-->
            <md-list>
                <md-list-item>
                    <div class="profile_pic_container">
                        <div class="profile_pic">
                            <a href="" ><img src="static/images/profile.svg" class="img-responsive" alt="Profile Pic"></a>
                            <span class="edit_image" ng-click="uploadPic()">
                                <ng-md-icon icon="edit" size="28"></ng-md-icon>Upload
                            </span>
                        </div>
                    </div>
                </md-list-item>
                <md-list-item ng-repeat="m in getMenu">
                    <md-button class="side-nav-btn" ng-click="getTemplate(m.template )">
                        {{ m.menu }}
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content class="main-content" layout="column" flex id="getContent">

            <div ng-include src="currentTemplate"></div>


        </md-content>
</div>