<div class="contents">
    <div class="banner md-raised" >
            <img src="static/images/background.jpg" class="background-image">
    </div>
    <div class="userDetail">
        <table class="table ">
            <tbody>
                <tr>
                    <td class="text-right" colspan="2">
                        <ng-md-icon icon="edit" size="32" ng-click="updateUserInfo($event)"></ng-md-icon>
                    </td>

                </tr>
                <tr>
                    <td>
                        First Name :

                        {{ user.firstName }}
                    </td>

                    <td>
                        Last Name:

                        {{ user.lastName }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Mob No:

                        +{{ user.std_code  }} - {{ user.phoneNo }}
                    </td>
                    <td>
                        Date of Birth:

                        {{ user.dob }}
                    </td>
                </tr>

            </tbody>

        </table>

    </div>

</div>
