{#{% load staticfiles %}#}
{#<nav class="navbar navbar-default navbar-fixed-top" id="main-nav">#}
{#    <div class = "container">#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="#navbar">#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{##}
{#            <a href="/" class="navbar-brand">C O E</a>#}
{#        </div>#}
{##}
{#        <div class="collapse navbar-collapse" id="navbar">#}
{#            <div class="login-btn">#}
{##}
{#                <div class="dropdown-toggle " type="button" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">#}
{#                   <span><img src="{{profilePic}}" class="user-img" ></span>{{name}}#}
{#                   <span class="caret"></span>#}
{#                </div>#}
{#               <ul class="dropdown-menu" aria-labelledby="user-menu">#}
{#                   <li><a href="/dashboard">Dashboard</a></li>#}
{#                   <li><a href="/profile">Profile</a></li>#}
{#                   <li><a href="/setting">Setting</a></li>#}
{#                   <li><a href="#" ng-click="logout()">Logout</a></li>#}
{#               </ul>#}
{#            </div>#}
{##}
{##}
{#            <ul class="nav navbar-nav">#}
{#                <li> <a href="#"> Create Exam </a></li>#}
{#                <li> <a href="#searchExam"> Search Exams </a></li>#}
{#                <li> <a href="#contact"> Contact </a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
{#<nav layout="row" ng-if="!isLoggedin" data-spy="affix" data-offset-top="80">#}


{#</nav>#}

