{% load compress %}
{% load staticfiles %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}">
<link type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{#<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">#}
<link rel="stylesheet" type="text/css" href="{% static "bower_components/angular-material/angular-material.css" %}">
{#<link rel="stylesheet" href="{% static  "bower_components/angular-material/layouts/angular-material.layouts.css" %}">#}
<link rel="stylesheet" type="text/css" href="{% static  "bower_components/angular-material/layouts/angular-material.layout-attributes.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/md-data-table.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/ng-img-crop.css" %}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Crimson+Text:600' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"type="text/css" >

{#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">#}
{% endcompress %}